.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: var(--fds-spacing-22);
  gap: var(--fds-spacing-4);
}

.successButton {
  background-color: var(--fds-semantic-surface-success-default);
}
