.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: var(--ds-spacing-22);
  gap: var(--ds-spacing-4);
}

.successButton {
  background-color: var(--ds-semantic-surface-success-default);
}
