.pageContainer {
  margin-left: auto;
  margin-right: auto;
  min-width: 280px;
  max-width: 1056px;
  width: 100%;
}

.closeButtonContainer {
  margin-top: var(--fds-spacing-8);
  display: flex;
  justify-content: flex-end;
}

.closeButton {
  border-radius: 50%;
  background-color: var(--fds-semantic-background-default);
  border: none;
  padding: var(--fds-spacing-1);
  cursor: pointer;
  margin-bottom: var(--fds-spacing-2);
}

.closeButtonIcon {
  height: var(--fds-sizing-7);
  width: var(--fds-sizing-7);
  vertical-align: middle;
}

.closeButton:hover {
  background-color: #d6eefd; /* not defined in designsystemet */
}

@media only screen and (min-width: 375px) {
  .pageMargin {
    margin: var(--fds-spacing-2);
  }
}

@media only screen and (min-width: 769px) {
  .pageMargin {
    margin: var(--fds-spacing-4);
  }
}

@media only screen and (min-width: 992px) {
  .pageMargin {
    margin: var(--fds-spacing-10);
  }
}
