.systemUserContent {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.rightAlignedContainer {
  display: flex;
  justify-content: flex-end;
}

.lastEditText {
  font-style: italic;
  font-size: 12px;
}
