.pageHeader {
  --page-header-height: var(--fds-sizing-22);
  height: var(--page-header-height);
  background-color: var(--component-page_header-background-color);
  display: flex;
  width: 100%;
  color: var(--component-page_header-color);
  padding-right: var(--fds-spacing-8);
  box-sizing: inherit;
  align-items: center;
  --page_header-title-font-size: 1rem;
  font-size: var(--page_header-title-font-size);
  fill: var(--component-page_header-color);
  --page-header-child-gap: var(--fds-spacing-6);
  gap: var(--page-header-child-gap);
  --page-header-padding-left: var(--fds-spacing-8);
  padding-left: var(--page-header-padding-left);
  --page-header-icon-dimension: var(--fds-sizing-10);
}

.pageHeader.dark {
  --component-page_header-background-color: var(--fds-semantic-surface-action-first-active);
  --component-page_header-color: var(--fds-semantic-text-neutral-on_inverted);
}

.pageHeader.light {
  --component-page_header-background-color: var(--fds-semantic-surface-neutral-default);
  --component-page_header-color: var(--fds-semantic-text-neutral-default);
  border-bottom: solid 1px var(--fds-semantic-border-neutral-subtle);
}

.pageHeader.success {
  --component-page_header-background-color: var(--fds-semantic-surface-success-default);
  --component-page_header-color: var(--fds-semantic-text-neutral-on_inverted);
}

.pageHeader.danger {
  --component-page_header-background-color: var(--fds-semantic-surface-danger-default);
  --component-page_header-color: var(--fds-semantic-text-neutral-on_inverted);
}

.pageHeader .icon > * {
  min-width: var(--page-header-icon-dimension);
  min-height: var(--page-header-icon-dimension);
}

.headerText {
  font-weight: 400;
}

@media only screen and (max-width: 769px) {
  .pageHeader {
    --page-header-height: var(--fds-sizing-14);
    --page-header-child-gap: var(--fds-spacing-4);
    --page-header-padding-left: var(--fds-spacing-5);
    --page_header-title-font-size: 0.5rem;
    --page-header-icon-dimension: var(--fds-sizing-7);
  }
}
