.page {
  width: 100%;
  box-sizing: border-box;
}

.pageContent {
  background-color: var(--fds-semantic-background-default);
  box-sizing: inherit;
  --component-page-content-padding: var(--fds-spacing-12) var(--fds-spacing-26);
  padding: var(--component-page-content-padding);
}

.pageContent.smallContentPadding {
  --component-page-content-padding: var(--fds-spacing-8);
}

@media only screen and (max-width: 769px) {
  .pageContent {
    --component-page-content-padding: var(--fds-spacing-4);
  }
}
