.page {
  width: 100%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
}

.pageContent {
  background-color: var(--ds-color-accent-background-default);
  box-sizing: inherit;
  --component-page-content-padding: var(--ds-spacing-12);
  padding: var(--component-page-content-padding);
}

@media only screen and (max-width: 769px) {
  .pageContent {
    --component-page-content-padding: var(--ds-spacing-2);
  }
}
