.pageHeader {
  --page-header-height: var(--ds-sizing-22);
  height: var(--page-header-height);
  background-color: var(--component-page_header-background-color);
  display: flex;
  color: var(--component-page_header-color);
  align-items: center;
  --page_header-title-font-size: 1rem;
  font-size: var(--page_header-title-font-size);
  --page-header-padding: var(--ds-spacing-8);
  padding-left: var(--page-header-padding);
  padding-right: var(--page-header-padding);
  gap: var(--page-header-padding);
  --page-header-icon-dimension: var(--ds-sizing-10);
}

.pageHeader.dark {
  --component-page_header-background-color: #00315d;
  --component-page_header-color: var(--ds-color-info-background-default);
}

.pageHeader.light {
  --component-page_header-background-color: var(--ds-semantic-surface-neutral-default);
  --component-page_header-color: var(--ds-semantic-text-neutral-default);
  border-bottom: solid 1px var(--ds-semantic-border-neutral-subtle);
}

.pageHeader.success {
  --component-page_header-background-color: var(--ds-semantic-surface-success-default);
  --component-page_header-color: var(--ds-color-info-background-default);
}

.pageHeader.danger {
  --component-page_header-background-color: var(--ds-semantic-surface-danger-default);
  --component-page_header-color: var(--ds-semantic-text-neutral-on_inverted);
}

.pageHeader .icon > * {
  min-width: var(--page-header-icon-dimension);
  min-height: var(--page-header-icon-dimension);
}

.headerText {
  font-weight: 400;
  margin: 0;
}

@media only screen and (max-width: 769px) {
  .pageHeader {
    --page-header-height: var(--ds-sizing-14);
    --page-header-padding: var(--ds-spacing-5);
    --page_header-title-font-size: 0.75rem;
    --page-header-icon-dimension: var(--ds-sizing-7);
  }
}
