.creationPageContainer {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 3rem;
}

.header {
  margin-top: -2rem;
  font-weight: 500;
}

.flexContainer {
  display: flex;
}

.leftContainer {
  flex: 3;
  margin-right: 1rem;
}

.rightContainer {
  flex: 3;
}

.nameWrapper {
  margin: 10px;
}

.descriptionWrapper {
  margin: 10px;
  margin-top: 2rem;
}

.selectWrapper {
  margin: 10px;
  margin-bottom: 2rem;

}

.confirmationWrapper {
  margin: 10px;
  margin-top: 50px;
  font-size: 10px;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.cancelButton {
  margin: 10px;
  display: flex;
}

.confirmButton {
  margin: 10px;
  display: flex;
}

@media only screen and (min-width: 769px) {

  .contentText {
    font-size: 18px;
  }
  
}

@media only screen and (max-width: 768px) {

  .contentText {
    font-size: 16px;
  }

}

@media only screen and (max-width: 576px) {

  .flexContainer {
    flex-direction: column;
  }

  .creationPageContainer {
    margin-top: 1rem;
  }

  .header {
    font-size: 20px;
  }

  .contentText {
    font-size: 14px;
  }

}
