.creationPageContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputContainer {
  margin-bottom: 2rem;
  max-width: 30rem;
}

.nameLabel {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
