.creationPageContainer {
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-4);
  max-width: 37rem;
}

.inputContainer {
  margin-bottom: var(--ds-spacing-8);
  max-width: 27rem;
}

.nameLabel {
  display: flex;
  flex-direction: row;
  gap: var(--ds-spacing-4);
  align-items: center;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--ds-spacing-4);
}
