.buttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  
}

.cancelButton {
  margin: 10px;
  display: flex;
}

.confirmButton {
  margin: 10px;
  display: flex;
}



.pageContentText {
  margin-top: -2rem;
  font-weight: 500;
}

.link {
  color: black;
  text-decoration-line: underline;
  text-decoration-color: #1eadf7;
  display: inline-block;
  background: transparent;
}

.errorPanel {
  margin-top: 2rem;
}


.testText {
  margin-right: 40px;
}

.testContent {
  margin: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}




@media only screen and (max-width: 768px) {
  

  

  .editButton {
    align-items: center;
    justify-content: end;
    margin-bottom: 0.3rem;
  }
}

@media only screen and (min-width: 769px) {
  

  .editButton {
    justify-content: flex-end;
    align-items: center;
    display: flex;
    flex: 1;
  }

}
