.flexContainer {
  display: flex;
  flex-direction: column;
  gap: var(--fds-spacing-12);
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: var(--fds-spacing-4);
  margin-top: var(--fds-spacing-8);
}
