.userInfoBar {
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.userInfoContent {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: var(--fds-spacing-1);
}

.userInfoText {
  font-weight: 500;
  margin: 0;
  margin-right: var(--fds-spacing-1);
  margin-left: var(--fds-spacing-1);
  text-align: right;
  word-break: break-word;
}

.companyIcon {
  align-self: center;
  width: var(--fds-sizing-7);
  height: var(--fds-sizing-7);
}
