.userInfoBar {
  display: flex;
  justify-content: space-between;
}

.userInfoContent {
  display: flex;
  align-items: center;
  gap: var(--ds-size-1);
  margin-right: var(--ds-size-1);
}

.userInfoText {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: right;
}

.companyIcon {
  width: var(--ds-size-7);
  height: var(--ds-size-7);
}
