.rightsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--fds-spacing-4);
  margin-top: var(--fds-spacing-8);
}

.buttonContainer {
  display: flex;
  margin-top: var(--fds-spacing-12);
  margin-bottom: var(--fds-spacing-4);
  gap: var(--fds-spacing-4);
}

.nameField {
  max-width: 30rem;
}

.backLink {
  margin-bottom: var(--fds-spacing-8);
}

.rightsList {
  flex-wrap: wrap;
}
