.actionBarContent {
  border-style: solid;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-width: 1px;
  border-color: var(--border-color);
  padding: var(--ds-spacing-10);
  display: flex;
  flex-direction: column;
  gap: var(--ds-spacing-1);
}

.actionBarContent.light {
  --border-color: var(--ds-color-neutral-border-subtle);
}

.actionBarContent.neutral {
  --border-color: var(--ds-color-neutral-border-subtle);
}
