.actionBarContent {
  border-style: solid;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-width: 1px;
  border-color: var(--border-color);
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.actionBarContent.light {
  --border-color: #80B1DD;
}

.actionBarContent.neutral {
  --border-color: var(--fds-semantic-border-neutral-subtle);
}