.actionBarIcon {
  box-sizing: border-box;
  flex-shrink: 0;
}

.actionBarIcon.open {
  transform: rotate(180deg);
}

.actionBarIcon.medium {
  height: var(--fds-sizing-8);
  width: var(--fds-sizing-8);
}

.actionBarIcon.large {
  height: var(--fds-sizing-10);
  width: var(--fds-sizing-10);
}
