.actionBar {
  display: flex;
  border: 1px var(--border-color) solid;
  border-radius: 4px;
  color: var(--ds-semantic-text-neutral-default);
  background-color: var(--background-color);
  margin-top: var(--ds-spacing-2);
}

.actionBar.small {
  min-height: var(--ds-sizing-8);
}

.actionBar.medium {
  min-height: var(--ds-sizing-14);
}

.actionBar.large {
  min-height: var(--ds-sizing-22);
}

.actionBar.open {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-style: none;
}

.actionBar.light {
  --border-color: var(--ds-color-neutral-border-subtle);
  --background-color: #fff;
}

.actionBar.neutral {
  --border-color: var(--ds-color-neutral-border-subtle);
  --background-color: var(--ds-color-neutral-background-subtle);
}

.actionBarHeader {
  color: inherit;
  width: 100%;
}

.title {
  font-weight: 500;
}

.actionBarButtonContainer {
  display: flex;
  gap: var(--ds-spacing-4);
  align-items: center;
  height: 100%;
  width: 100%;
}

.titleWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: var(--ds-spacing-4);
  height: 100%;
  position: relative;
  align-items: center;
}

.logoWrapper {
  height: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
}

.logoImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  position: absolute;
}
