name: Build backend

on:
  workflow_dispatch:
  push:
    branches: [main]
    paths-ignore:
      - frontend/**

  pull_request:
    types: [opened, synchronize, reopened]
    paths-ignore:
      - frontend/**

env:
  dotnet_version: 9.0.x

jobs:
  build:
    name: Build
    if: ((github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false) || github.event_name == 'push') && github.repository_owner == 'Altinn' && github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        name: "Checkout Repository"
      - uses: actions/setup-dotnet@2016bd2012dba4e32de620c46fe006a3ac9f0602 # v5
        name: Install .NET ${{ env.dotnet_version }}
        with:
          dotnet-version: ${{ env.dotnet_version }}
      - name: Build
        run: dotnet build bff/src/Altinn.Authentication.UI/Altinn.Authentication.UI.sln
